@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
font-family: 'Inter', sans-serif;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.main_wrapper{
  width: 100%;
  height: 100vh;
  position: relative;
}


/****************/
.navbar_wrapper {
  background-color: red;

  width: 100%;
  position: absolute;
}
.navbar_container {
  width: 100%;
  height: 100%;
  padding: 0px 96px 0px 50px;


  display: flex;
    justify-content: space-between;
  align-items: center;
}
.navbar__logo_nav_wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;

}
.navbar__logo {
  width: 194px;
  height: 73px;
}
.navbar__logo img{
    width: 194px;
  height: 73px;
}
.navbar__navigation {
  margin-left: 106px;
}
.navbar__navigation_wrapper {
  display: flex;
}
.navbar__navigation_element {
  margin-left: 40px;
}
.navbar__navigation_element a {
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;


}
.navbar__languages {
  background-color: green;
  width: 140px;
  height: 43px;
}
.navbar__languages__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar__language__element {
  position: relative;
  background-color: blue;
    height: 43px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__language__element img {
  position: absolute;
  height: 43px;
  width: 46px;
}
.navbar__language__element  p {
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}



.swiper {
}
.mySwiper {
  z-index: -1;
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-next {
}
.swiper-button-prev {
}
.swiper-pagination {
}
.footer_wrapper {
  position: absolute;
  bottom: 0;
  display: none;
  visibility: hidden;
}
.footer__container {
}
.footer__content {
}