
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter';

background-color: #fff;
}
a {
    text-decoration: none;
}
p {
    padding: 0;
    margin: 0;
}
.main_wrapper {
    width: 100%;
    height: 100%;

}
.child_wrapper {
    width: 100%;
    height: 100%;

    background-image: url('/imgs/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header__wrapper {
    width: 100%;
    height: 105px;
    z-index: 10;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    
}
.logo_nav_block_wrapper {

    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    width: 860px;
    background-image: url('/imgs/left_line.png');
    background-repeat: no-repeat;

    background-position: 25px 40px;
}
.logo__block {
    margin-left: 55px;
    background-image: url(/imgs/logo.png);
    width: 194px;
    height: 73px;
}
.nav__block {
    position: absolute;
    color: #fff;
    display: flex;
    width: 660px;
    justify-content: space-between;
    left: 350px;
    font-weight: 300;
}
.nav__block_element {
    width: 100px;

}
.nav__block__element-a {
    color: #fff;
    font-size: 18px;
}
.language_search_block {

    width: 700px ;
    display: flex;

    background-image: url('/imgs/line_right.png');
    background-repeat: no-repeat;

    background-position: -30px 40px;
}
.search__block {

    height: 100%;
    width: 50%;
}
.language__block {

    height: 100%;
    width:50%;
}
.lang__wrapper {

    display: flex;
    height: 50px;
    width: 140px;
    justify-content: space-between;
    align-items: center;


    position: absolute;
    top: 25px;
    right: 96px;
}
.lang_az {
    width: 46px;
    height: 43px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

    background-image: url('/imgs/inactive_lang.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lang_az:hover{

    background-image: url('../imgs/active_lang_back.png') , url('../imgs/inactive_lang.png');

}
.lang_ru {
    width: 46px;
    height: 43px;

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;



    background-image: url('/imgs/active_lang_back.png') , url('/imgs/active_lang.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

}
.placeholder__logo{
    min-width: 1200px;
    min-height: 440px;
    background-image: url('/imgs/big_logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.footer__wrapper {
    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

}
.footer__content_wrapper {
    width: calc(100% - 100px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
.footer__content_wrapper-p {
    font-size: 14px;
    font-family: 'Inter';
    color: #fff;
}