.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next{

    width: 65px;
    color: #00000000;
    background-image: url('../img/arrow_right.svg') ;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper-button-prev{

    width: 65px;
    color: #00000000;
    background-image: url('../img/arrow_left.svg') ;
    background-position: center;
    background-repeat: no-repeat;
  }